.about{
    background-color: white;
    text-align: center;
    margin-top: 5%;
    font-family: 'Montserrat', 'sans-serif';
    justify-content: center;
}

.about-content{
    width:50%;
    text-align: center;
    font-size: 18px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    font-family: 'Montserrat', 'sans-serif';
    margin-bottom:10%;
}

.about-background{
    width:100%;
    height:350px;
    opacity: 85%;
    background-color: rgb(0, 0, 0);
    left:0;
    right:0;
}

.about-quote{
    position: relative;
    font-size: 38px;
    top:-15rem;
}

@media screen and (max-width: 600px) {
    .about-content{
        width:80%;
        text-align: center;
        font-size: 18px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 3%;
        font-family: 'Montserrat', 'sans-serif';
        margin-bottom:10%;
    }

    .about{
        background-color: white;
        text-align: center;
        margin-top: 20%;
        font-family: 'Montserrat', 'sans-serif';
        justify-content: center;
    }

  }


