.home{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100vw;
    text-align: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.dash-img{
    width:100vw;
    height:100vh;
    opacity: 40%;
    position: absolute;
    left:0;
    right:0;
}

.quote{
    position: relative;
    top:40%;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    color:whitesmoke;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 18px;
}

.description{
    font-size: 18px;
    margin-top: 1%;
}

.description-header{
    font-size: 20px;
    margin-top: 2%;
}

.description2{
    font-size: 24px;
}


@media screen and (max-width: 600px) {
    .quote {
        position: relative;
        top:30%;
        left:0;
        right:0;
        margin-left: auto;
        margin-right: auto;
        color:whitesmoke;
        font-family: 'Montserrat', 'sans-serif';
        width:90%;
    }

    .description{
        font-size: 15px;
        margin-top: 5%;
    }
  }