.contact-icon:hover{
    color:orange !important;
}

.contact-content{
    display: inline-block;
    width:100%;
    background-color: black;
    margin-top: -2rem;
    padding: 8%;
}

.icon-style{
    font-size: 25px;
    color : rgb(231, 174, 16);
    margin:20px;
}

.icon-style:hover{
    font-size: 25px;
    color : rgb(255, 204, 64);
    margin:20px;
}

.contact-description{
    color : rgb(179, 179, 179);
    margin-top:2%;
}

.contact-icon-panel{
    margin-top: 2% !important;
}

.header{
    font-family: 'Montserrat', 'sans-serif';
    margin-bottom: 3%;
    color:rgba(235, 230, 230, 0.911);
    /* color:rgb(226, 179, 49); */

}

@media screen and (max-width : 600px){
    .contact-icon-panel{
        margin-top: 5% !important;
    }

    .contact-description{
        color : rgb(179, 179, 179);
        margin-top:5%;
    }

    .header{
        font-family: 'Montserrat', 'sans-serif';
        margin-bottom: 3%;
        margin-top: 10%;
        color:rgba(235, 230, 230, 0.911);
        /* color:rgb(226, 179, 49); */
    
    }
}